/* text alignment */
.ik-text--center {
    text-align: center;
}

.ik-text--right {
    text-align: right;
}

.ik-text--left {
    text-align: left;
}

/* text style */
.ik-text--bold {
    font-weight: bold;
}

.ik-text--normal {
    font-weight: normal;
}

.ik-text--light {
    font-weight: 400;
}

.ik-text--strike {
    text-decoration: line-through;
}

.ik-text--underline {
    text-decoration: underline;
}

/* text size */
.ik-text--xs {
    font-size: 9px;
}

.ik-text--sm {
    font-size: 12px;
}

.ik-text--md {
    font-size: 14px;
}

.ik-text--lg {
    font-size: 16px;
}

.ik-text--xl {
    font-size: 18px;
}

.ik-text--xxl {
    font-size: 24px;
}

/* text wrapping */
.ik-text--wrap {
    white-space: normal;
}

.ik-text--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ik-text--ellipsis-l2 {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ik-text--ellipsis-l3 {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ik-text--ellipsis-l4 {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.ik-text--ellipsis-l5 {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
