/* light mode */
:root,
.ik-theme--light,
.ik-theme--light .ik-theme--static {
    --background-color: #fff;
    --on-background-color-1: #1f2c38;
    --on-background-color-2: #222B45;
    --on-background-color-3: #8294a2;
    --on-background-color-4: #BBC7D0;
    --on-background-color-5: #E7F2F9;

    --surface-color: #fff;
    --on-surface-color-1: #1f2c38;
    --on-surface-color-2: #222B45;
    --on-surface-color-3: #8294A2;
    --on-surface-color-4: #BBC7D0;

    --surface-lighten-color: #f4f9fb;
    --on-surface-lighten-color-1: #1f2c38;
    --on-surface-lighten-color-2: #222B45;
    --on-surface-lighten-color-3: #8294A2;
    --on-surface-lighten-color-4: #acbbc7;

    --surface-darken-color: #EBF1F6;
    --on-surface-darken-color-1: #1f2c38;
    --on-surface-darken-color-2: #222B45;
    --on-surface-darken-color-3: #8294A2;
    --on-surface-darken-color-4: #acbbc7;

    --border-color-1: #DDE3E7;
    --border-color-2: #EBF1F6;
    --marker-color-1: #1b2c39;
    --skeleton-color-1: #EBF1F6;
    --skeleton-color-2: hsla(0, 0%, 100%, .35);

    --primary-color: #6488F8;
    --primary-color-o1: rgba(100, 136, 248, 0.1);
    --on-primary-color: #fff;

    --secondary-color: #1b2c39;
    --secondary-color-alt-1: #0D3034;
    --on-secondary-color: #fff;
    --on-secondary-color-alt-1: #fff;

    --accent-color: #F3B563;
    --accent-color-o1: rgba(243, 181, 99, 0.1);
    --on-accent-color: #1f2c38;

    --error-color: #ff304c;
    --error-color-o1: rgba(255, 48, 76, 0.1);
    --on-error-color: #fff;

    --success-color: #40BE7A;
    --success-color-o1: rgba(64, 190, 122, 0.1);
    --on-success-color: #fff;

    --shadow-color-1: rgba(70, 90, 106, 0.15);
    --shadow-color-2: rgba(70, 90, 106, 0.2);
    --shadow-color-3: rgba(70, 90, 106, 0.5);

    --scrollbar-color: #536d83;
    --scrollbar-track-color: rgba(0, 0, 0, 0.1);

    --tooltip-color: #333;
    --on-tooltip-color: #fff;

    --theme-1-color: #6488F8;
    --theme-1-color-o1: rgba(100, 136, 248, 0.1);
    --theme-2-color: #1FB665;
    --theme-2-color-o1: rgba(31, 182, 101, 0.1);
    --theme-3-color: #F4C23B;
    --theme-3-color-o1: rgba(244, 194, 59, 0.1);
    --theme-4-color: #FF855D;
    --theme-4-color-o1: rgba(255, 133, 93, 0.1);
    --theme-5-color: #FF304C;
    --theme-5-color-o1: rgba(255, 48, 76, 0.1);
    --theme-6-color: #FF179E;
    --theme-6-color-o1: rgba(255, 23, 158, 0.1);
    --theme-7-color: #A036CC;
    --theme-7-color-o1: rgba(160, 54, 204, 0.1);
    --theme-8-color: #212121;
    --theme-8-color-o1: rgba(33, 33, 33, 0.1);
    --theme-9-color: #3AAADC;
    --theme-9-color-o1: rgba(58, 170, 220, 0.1);

    --on-theme-color: #fff;
}

/* dark mode */
.ik-theme--dark:root,
.ik-theme--dark,
.ik-theme--dark .ik-theme--static {
    --background-color: #121212;
    --on-background-color-1: #cdc3ba;
    --on-background-color-2: #b6aea4;
    --on-background-color-3: #787878;
    --on-background-color-4: #4b4b4b;
    --on-background-color-5: #2c2c2c;

    --surface-color: #222222;
    --on-surface-color-1: #cdc3ba;
    --on-surface-color-2: #b6aea4;
    --on-surface-color-3: #787878;
    --on-surface-color-4: #4b4b4b;

    --surface-darken-color: #222222;
    --on-surface-darken-color-1: #e0d3c7;
    --on-surface-darken-color-2: #93908b;
    --on-surface-darken-color-3: #7a736e;
    --on-surface-darken-color-4: #696969;

    --surface-lighten-color: #191919;
    --on-surface-lighten-color-1: #e0d3c7;
    --on-surface-lighten-color-2: #93908b;
    --on-surface-lighten-color-3: #7a736e;
    --on-surface-lighten-color-4: #696969;

    --border-color-1: #474747;
    --border-color-2: #363636;
    --marker-color-1: #737373;
    --skeleton-color-1: #333333;
    --skeleton-color-2: hsla(0, 0%, 100%, .03);

    --primary-color: #5989ff;
    --primary-color-o1: rgba(100, 136, 248, 0.1);
    --on-primary-color: #fff;

    --secondary-color: #1b2c39;
    --secondary-color-alt-1: #0D3034;
    --on-secondary-color: #fff;
    --on-secondary-color-alt-1: #fff;

    --accent-color: #F3B563;
    --accent-color-o1: rgba(243, 181, 99, 0.1);
    --on-accent-color: #1f2c38;

    --error-color: #FF304C;
    --error-color-o1: rgba(255, 48, 76, 0.1);
    --on-error-color: #fff;

    --success-color: #40BE7A;
    --success-color-o1: rgba(64, 190, 122, 0.1);
    --on-success-color: #fff;

    --shadow-color-1: rgba(0, 0, 0, 0.5);
    --shadow-color-2: rgba(0, 0, 0, 1);
    --shadow-color-3: rgba(0, 0, 0, 1);

    --scrollbar-color: #fff;
    --scrollbar-track-color: rgba(255, 255, 255, 0.1);

    --tooltip-color: #444;
    --on-tooltip-color: #e0d3c7;

    --theme-1-color: #6488F8;
    --theme-1-color-o1: rgba(100, 136, 248, 0.1);
    --theme-2-color: #1FB665;
    --theme-2-color-o1: rgba(31, 182, 101, 0.1);
    --theme-3-color: #F4C23B;
    --theme-3-color-o1: rgba(244, 194, 59, 0.1);
    --theme-4-color: #FF855D;
    --theme-4-color-o1: rgba(255, 133, 93, 0.1);
    --theme-5-color: #FF304C;
    --theme-5-color-o1: rgba(255, 48, 76, 0.1);
    --theme-6-color: #FF179E;
    --theme-6-color-o1: rgba(255, 23, 158, 0.1);
    --theme-7-color: #A036CC;
    --theme-7-color-o1: rgba(160, 54, 204, 0.1);
    --theme-8-color: #212121;
    --theme-8-color-o1: rgba(33, 33, 33, 0.1);
    --theme-9-color: #3AAADC;
    --theme-9-color-o1: rgba(58, 170, 220, 0.1);

    --on-theme-color: #fff;
}

/* custom themes colors override */
.ik-theme--1:root,
.ik-theme--1 {
    --primary-color: var(--theme-1-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-1-color-o1);
}

.ik-theme--2:root,
.ik-theme--2 {
    --primary-color: var(--theme-2-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-2-color-o1);
}

.ik-theme--3:root,
.ik-theme--3 {
    --primary-color: var(--theme-3-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-3-color-o1);
}

.ik-theme--4:root,
.ik-theme--4 {
    --primary-color: var(--theme-4-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-4-color-o1);
}

.ik-theme--5:root,
.ik-theme--5 {
    --primary-color: var(--theme-5-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-5-color-o1);
}

.ik-theme--6:root,
.ik-theme--6 {
    --primary-color: var(--theme-6-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-6-color-o1);
}

.ik-theme--7:root,
.ik-theme--7 {
    --primary-color: var(--theme-7-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-7-color-o1);
}

.ik-theme--8:root,
.ik-theme--8 {
    --primary-color: var(--theme-8-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-8-color-o1);
}

.ik-theme--9:root,
.ik-theme--9 {
    --primary-color: var(--theme-9-color);
    --on-primary-color: var(--on-theme-color);
    --primary-color-o1: var(--theme-9-color-o1);
}
