.ik-popover__root {
    display: none;
}

.ik-popover {
    max-height: 100%;
    max-width: calc(100% - 20px);
    background-color: var(--surface-color);
    color: var(--on-surface-color-1);
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    box-shadow: 0 5px 20px 0 var(--shadow-color-1);
    border-radius: 8px;
}

.ik-popover .ik-scroll-area {
    height: 100%;
    /* firefox */
}

.ik-popover--transition {
    -webkit-transition: -webkit-transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: -webkit-transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    -webkit-transition: transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.ik-popover-activator--active {
    box-shadow: 0 5px 20px 0 var(--shadow-color-2);
}

.ik-popover__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.ik-popover--pulse {
    -webkit-transition: -webkit-transform .08s ease-in-out;
    transition: -webkit-transform .08s ease-in-out;
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    -webkit-transition: transform .08s ease-in-out;
    transition: transform .08s ease-in-out;
}
