.ik-button-group {
    display: block;
}

.ik-button-group--equal > * {
    width: 100% !important;
}

.ik-button-group--equal-2 > * {
    width: 50% !important;
}

.ik-button-group--equal-3 > * {
    width: 33.3% !important;
}

.ik-button-group--equal-4 > * {
    width: 25% !important;
}

.ik-button-group--equal-5 > * {
    width: 20% !important;
}

.ik-button-group--equal-6 > * {
    width: 16.6% !important;
}

.ik-button-group--separate {
    display: flex;
    flex-wrap: wrap;
}

.ik-button-group--separate > .ik-button {
    margin: 0 5px 5px 0;
}
